@model IEnumerable<CarRental.ViewModels.Car.CarVM>

@{
    ViewData["Title"] = "Strona Główna";
}

<div class="col-md-12">    
    <div class="row offset-md-3 col-md-6">
        <div class="row col-md-12 header">
            <span>Nasze auta</span>
        </div>
        @if(Model == null || Model.Count() == 0)
        {
            @:Brak aut do wypożyczenia
        }
        else
        {
            @foreach(var car in Model)
            {
                <a class="car-item row" href="/Car/Get/@car.Id">
                    <div class="col-md-6" style="border-right: 1px solid darkgrey">
                        <img src="@car.Photo" class="car-photo" />
                    </div>
                    <div class="col-md-6">
                        <div class="row col-md-12">
                            <div>
                                <b>Marka:</b> @car.Brand
                            </div>                            
                        </div>
                        <div class="row col-md-12">
                            <div>
                                <b>Model:</b> @car.Model
                            </div>                            
                        </div>
                        <div class="row col-md-12">
                            <div>
                                <b>Kolor:</b> @car.Color
                            </div>                            
                        </div>
                        <div class="row col-md-12 car-price">
                            <div>
                                <b>Cena:</b> @car.Price zł/h
                            </div>                            
                        </div>
                    </div>
               </a>
            }
        }
    </div>
 </div>